<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Mood Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Jak się dziś czujesz?</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class='flash'>{{messages[0]}}</div>
        {% endif %}
    {% endwith %}

    <form method="POST">
        <input type="text" name="mood" placeholder="Wpisz nastrój" required>
        <button type="submit">Zapisz</button>
    </form>

    <h2>Historia:</h2>
    <p>{{ url_for('static', filename='style.css') }}</p>
    <ul>
        {% for entry in entries %}
        <li>{{ entry.date.strftime('%Y-%m-%d %H:%M') }} – {{ entry.mood }}</li>
        {% endfor %}
    </ul>
</body>
</html>