{% extends 'base.html' %}
{% block title %}Mood tracker{% endblock title %}
{% block content %}
    <h1>How are you feel today?</h1>

    <form method="POST">
        <input type="number" name="mood" min="1" max="10" placeholder="Rank your todays mood on scle 1 to 10" required>
        <button type="submit">Save</button>
    </form>

    <h2>History:</h2>
    <ul>
        {% for entry in entries %}
        <li>{{ entry.date.strftime('%Y-%m-%d %H:%M') }} – {{ entry.mood }}</li>
        {% endfor %}
    </ul>
{% endblock content%}